body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  .fullBackground {
    background-attachment: fixed;
    background-size: 100%;
    position: absolute;
    opacity:0.15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .caption {
    font-size: 10pt;
    text-transform: uppercase;
    color: #fff;
    position: center;
    top: 10%;
    left: 10%;
    transform: translate(38.5%, -1125%);
  }
  
  .caption:after {
    content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    display: inline-block;
    margin: 0 0 -2px;
  }
